@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: local('Bitter Regular'), local('Bitter-Regular'), url(/assets/google-fonts/bitter-v13.ttf) format('truetype');
}
