body {
  font-family: 'Bitter',serif;
  margin: 20px;
}
/*
h1,h2,h3,h4,h5,h6 {
  font-family: 'Bitter',serif;
  font-weight: normal;
} */

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}


@media (prefers-color-scheme: dark) {
  body {
    color: #ddd;
    background-color: #222;
  }
}
